div.auth-wrapper {
  div.auth-card {
    width: 100%;
    max-width: 392px;
    padding: 1rem;
    margin: 0 0 0 auto;
    box-shadow: 6px 4px 8px 0px rgba(0, 0, 0, 0.1);
    margin: 10vh auto;
    background-color: #ffffff;
    border-radius: 0.5rem;
  }
}
