<div class="table-wrapper">
  <div class="table-hader" *ngIf="header">
    <h3>{{ header }}</h3>
  </div>
  <div class="table-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let column of model.columns">
            {{ column.header }}
          </th>
          <th *ngIf="actionButtonsTmpl" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records">
          <td *ngFor="let column of model.columns">
            {{ record | resolveFieldData : column.field }}
          </td>
          <td *ngIf="actionButtonsTmpl">
            <div class="d-flex justify-content-center">
              <ng-container
                *ngTemplateOutlet="
                  actionButtonsTmpl;
                  context: { $implicit: record }
                "
              ></ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-footer">
    <div class="d-flex justify-content-end gap-2">
      <app-button
        size="SM"
        variant="LIGHT"
        (onClick)="handlePrevious()"
        [disabled]="model.page === 1"
      >
        <em class="fas fa-chevron-left"></em>
      </app-button>
      <app-button
        size="SM"
        variant="LIGHT"
        (onClick)="handleNext()"
        [disabled]="model.page === totalPage"
      >
        <em class="fas fa-chevron-right"></em>
      </app-button>
    </div>
  </div>
</div>
