<app-popup header="Confirm Password">
  <form [formGroup]="formGroup">
    <app-form-group label="Password" customClass="w-100">
      <app-input
        type="password"
        formControlName="password"
        placeholder="Enter password"
      ></app-input>
    </app-form-group>

    <div class="d-flex justify-content-end gap-2">
      <app-button variant="SECONDARY" (onClick)="onChange.emit(false)">
        Cancel
      </app-button>
      <app-button (onClick)="handleConfirm()">Confirm</app-button>
    </div>
  </form>
</app-popup>
